# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
/.idea
/data
/vendor/*
/flink-taxi-processor/.idea
/flink-taxi-processor/target
/flink-taxi-processor/flink-taxi-processor.iml
/spark-taxi-processor/.idea
/spark-taxi-processor/SparkTaxiProcessor.iml
/spark-taxi-processor/target
.ipynb_checkpoints
/taxi-stream-tests/node_modules
